{% extends "base.html.twig" %}
{% block content %}
	<div class="alert alert-danger" role="alert">
		<i class="bi bi-exclamation-triangle-fill"></i>
		Błąd krytyczny.
		{{error}}
	</div>
{% endblock %}
